:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-bg-color: #f5f4fa;
}

body {
  background: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Site-nav */
.logo {
  color: #000000;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-span {
  color: #2196f3;
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Auth-nav */
.auth-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background: #2f303a;
}
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .link {
  color: var(--primary-white-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
}

.title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Method */
.method-subtitle {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Works */
/* Team */
.team {
  background: var(--accent-bg-color);
}

.team-items .team-item {
  background: var(--primary-white-color);
}

.team-subtitle {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background: #2f303a;
}

.footer .logo {
  color: #ffffff;
}

.address {
  color: var(--primary-white-color);

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* Portfolio */
.btn {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--accent-bg-color);
}

.btn:hover,
.btn:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.galery-title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.galery-desc {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
